{% load static %} {% load sass_tags %}
<footer class="resume copyright copyright-bg inner-pages-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="link link-horizontal text-center mb-3">
          <img
            alt=""
            class="img-fluid"
            src="{% static 'assets/images/logo/logo-footer.png' %}"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="link link-horizontal">
          <ul class="justify-content-center">
            <li><a class="copyright-text" href="/">home</a></li>
            <li><a class="copyright-text" href="#">libros antiguos</a></li>
            <li><a class="copyright-text" href="#">libros firmados</a></li>
            <li><a class="copyright-text" href="#">primeras ediciones </a></li>
            <li><a class="copyright-text" href="/carrito">carrito</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <div class="social-link link-horizontal">
            <ul class="justify-content-center">
              <li>
                <a
                  class="copyright-text"
                  href="https://www.facebook.com/profile.php?id=100075863081052"
                  ><i aria-hidden="true" class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a
                  class="copyright-text"
                  href="https://twitter.com/libreriacuarto"
                  ><i aria-hidden="true" class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  class="copyright-text"
                  href="https://www.google.com/search?q=libreria+de+cuarto"
                  ><i aria-hidden="true" class="fa fa-google"></i
                ></a>
              </li>
              <li>
                <a
                  class="copyright-text"
                  href="https://www.instagram.com/libreriadecuarto/"
                  ><i aria-hidden="true" class="fa fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="agency copyright inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="link-horizontal">
          <ul>
            <li>
              <a class="copyright-text" href="#">Política de privacidad</a>
            </li>
            <li>
              <a class="copyright-text" href="#">Términos y Condiciones</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <h6 class="copyright-text text-white text-md-end text-center">
            ©2023 made with
            <i aria-hidden="true" class="fa fa-heart"> </i> Librería de Cuarto
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>