{% load static %} {% load sass_tags %}
<div class="col-lg-6 col-sm-12 col-xs-12">
    <div class="checkout-title">
        <h3>Detalles del envío</h3>
    </div>
    <div class="row check-out">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">Nombres</div>
            <input id="names" name="names" placeholder="" type="text">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">Apellidos</div>
            <input id="last_names" name="last_names" placeholder="" type="text">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">Teléfono</div>
            <input id="phone" name="phone" placeholder="" type="text">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">Email</div>
            <input id="email" name="email" placeholder="" type="text">
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="field-label">País</div>
            <select>
                <option>México</option>
            </select>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="field-label">Dirección</div>
            <input id="street_address" name="street_address" placeholder="" type="text">
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="field-label">Ciudad</div>
            <input id="shipping_city" name="shipping_city" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-md-12 col-sm-6 col-xs-12">
            <div class="field-label">Estado</div>
            <input id="shipping_state" name="shipping_state" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-md-12 col-sm-6 col-xs-12">
            <div class="field-label">Código Postal</div>
            <input id="shipping_zip" name="shipping_zip" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input id="save_address" name="save_address" type="checkbox">
            <label for="account-option">Guardar dirección</label>
        </div>
    </div>
</div>