{% load static %} {% load sass_tags %}
<div class="event copyright flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="link-horizontal d-flex align-content-lg-center h-100">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/login/"><i aria-hidden="true"
                                    class="fa fa-facebook center-content"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i aria-hidden="true"
                                    class="fa fa-twitter center-content"></i></a>
                        </li>
                        <li>
                            <a href="https://www.google.com/"><i aria-hidden="true"
                                    class="fa fa-google center-content"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/"><i aria-hidden="true"
                                    class="fa fa-instagram center-content"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <p class="copyright-text text-md-end text-center text-white">© 2021 Unice. All Rights Reserved </p>
            </div>
        </div>
    </div>
</div>